<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoo Management API</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Zoo Management Logo">
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="https://documenter.getpostman.com/view/37782623/2sAXxLBE2C" target="_blank" rel="noopener noreferrer">Documentation</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>

    <!-- Header Section -->
    <div class="header-container">
        <h1 class="header-text">Welcome Animal Lovers!</h1>
        <h2 class="h2-text">Zoo Management API</h2>
        <div class="link-container">
            <div>
                <a href="https://documenter.getpostman.com/view/37782623/2sAXxLBE2C" class="documentation" target="_blank" rel="noopener noreferrer">
                    Documentation
                </a>            
            </div>
        </div>
    </div>

    <!-- Documentation Link -->
    

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-info">
            <div class="contact">
                <h3>Contact Us</h3>
                <p>Email: info@zoomanagement.com</p>
                <p>Phone: +62 812 3456 7890</p>
            </div>
            <div class="about">
                <h3>About Us</h3>
                <p>We provide a comprehensive API for managing zoo animals and staff efficiently. Join us in protecting wildlife.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Zoo Management API. All rights reserved.</p>
        </div>
    </footer>
    
</body>
</html>
